/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 12, 2020, 8:02:41 AM
    Author     : Kyle
*/

.button {
    -fx-background-color: #000000;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 9 17 9 17;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.button:pressed {
    -fx-background-color: #000000;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 9 17 9 17;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.root {
     -fx-background-color: #696969;
}

.text {
    display: inline;
    position: relative;
    font: 200px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    color: rgba(0,0,255,0.5);
}

.text:after {
	content: "Login";
	position: absolute; left: 10px; top: 20px;
	color: rgba(255,0,0,0.5);
}