/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 12, 2020, 8:00:01 AM
    Author     : Kyle
*/

.root {
     -fx-background-image: url("Background.jpg");
}

.button {
    -fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 3 7 3 7;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.button:pressed {
    -fx-background-color: 
        #000000,
        linear-gradient(#f03a3a, #a32929),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-padding: 3 7 3 7;
    -fx-text-fill: white;
    -fx-font-size: 12px;
}